@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #e8eaf1;
  font-family: 'Hind', Arial, Helvetica, sans-serif;
}

.app {
  min-height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

textarea {
  background: #eff1f5;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 20px;
  font-size: 22px;
}

.preview {
  padding: 20px 20px;
}

blockquote {
  font-size: 30px;
  background: #efefef;
  border-left: 12px solid rgb(44, 163, 241);
  padding: 20px 30px;
  border-radius: 5px;
  margin: 0;
}

.nav-container{
  width: 100%;
  height: 50px;
  font-size: large;
  font-weight: bolder;
  background-color: rgb(250, 234, 237);
}

.nav-content{
  padding: 0px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-content > li{
  list-style-type: none;
  margin: 0px;
  padding: 15px;
  /* z-index: 9; */
}